.yearDropdown {
    order: 2;
    flex-grow: 1;
    padding: 15 10 5 10;
    max-width: 150px;

    div {
        padding: 0;

        input {
            padding: 8px 10px;
        }
    }
}

.indicatorDropdown {
    order: 1;
    flex-grow: 12;
    padding: 15 10 5 0;

    div {
        padding: 0;

        input {
            padding: 8px 10px;
        }
    }
}

.submitButton {
    order: 3;
    flex-grow: 3;
    margin: 10 5 0 10;
    height: 38;
    max-width: 250px;
}

.controlsContainer {
    display: flex;
}
